
package common

import (
	common_components "github.com/SabianF/htmx-playground/modules/common/presentation/components"
)

templ HomePage() {
  {{
    title := "HTMX Playground"
    description := "A place where I play around with HTMX, Go (Golang), Templ, PicoCSS, and others."
  }}

  @common_components.Page(title, description) {
    <h1 id="title">{ title }</h1>
    @common_components.MainMenuList()
  }
}
