
package common

templ footer() {
  @footerWrapper() {
    <p>Page footer</p>
  }
}

templ footerWrapper() {
  <footer id="footer" class="container" hx-preserve="true">
    { children... }
  </footer>
}
