
package common

templ header() {
  @headerWrapper() {
    @NavBar("HTMX Playground",
      Link("/", "Home", nil),
      Dropdown("Implementations",
        MainMenuLinks(),
      ),
    )
  }
}

templ headerWrapper() {
  <header id="header" class="container" hx-preserve="true">
    { children... }
  </header>
}
