
package common

templ header() {

  @headerWrapper() {
    @NavBar("HTMX Playground",
      Link("/", "Home", nil),
      Dropdown("Implementations",
        Link("/hello", "Hello", nil),
        Link("/click-me", "Click Me", nil),
        Link("/click-to-edit", "Click to Edit", nil),
        Link("/bulk-update", "Bulk Update", nil),
      ),
    )
  }
}

templ headerWrapper() {
  <header id="header" class="container" hx-preserve="true">
    { children... }
  </header>
}
