
package common

type LoadingSpinnerAttributes struct {
  Id string
  Class string
}

templ LoadingSpinner(attributes LoadingSpinnerAttributes) {
  <img
    if len(attributes.Id) > 0 {
      id={ attributes.Id }
    }
    if len(attributes.Class) > 0 {
      class={ attributes.Class }
    }
    src="/modules/common/data/sources/assets/loading_spinner.svg"
    width="16"
    height="16"
  />
}
