
package helloExample

import (
  common_components "github.com/SabianF/htmx-playground/modules/common/presentation/components"
)

templ Hello(name string) {

  {{
    title := "Hello Example"
    description := "A basic page and text block written in HTMX, Go (Golang), Templ, PicoCSS, and others."
  }}

  @common_components.Page(title, description) {
    <div>Hello there, {name}.</div>
  }
}
