
#toast.htmx-settling {
  opacity: 100;
}

#toast {
  animation: fadeOut 3s linear forwards;
  -moz-animation: fadeOut 3s linear forwards; /* Firefox */
  -webkit-animation: fadeOut 3s linear forwards; /* Safari and Chrome */
  -o-animation: fadeOut 3s linear forwards; /* Opera */
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }

  80% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    display: none;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 100%;
  }

  80% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
